body {
    background-color: #241a33;
    font-family: sans-serif;
    color: #FEFFA1;
}

a {
    color: #6cbacc;
    text-decoration: none;
}

p {
    margin-left: 2em;
}

img {
    max-width: min(100%, 50em);
    max-height: 70%;
}

ul {
    list-style: none;
    margin-left: 2em;
    padding-left: 0em;
}

ul + ul {
    margin-top: 1.6em;
}

li + li {
    margin-top: 0.4em;
}

.root-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-container {
    max-width: 50em;
    margin: 1em;
}

.fixed-width {
    display: inline-block;
    width: 1.25em;
}