body {
    background-color: #241a33;
    font-family: sans-serif;
    color: #FEFFA1;
}

a {
    color: #6cbacc;
}

p {
    max-width: 100em;
}

img {
  max-width: 100%;
}

.root-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.sub-container {
    margin: 10em;
}

.word-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-heigth: 10em;
}
