body {
    background-color: #241a33;
    font-family: sans-serif;
    color: #FEFFA1;
}

a {
    color: #6cbacc;
    text-decoration: none;
}

p {
    margin-left: 2em;
}

img {
    max-width: min(100%, 50em);
    max-height: 70%;
    margin-left: 2em;
}

table {
    margin-left: 2em;
}

th {
    text-align: left;
    padding: 0.15em;
}

.root-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-container {
    max-width: 50em;
    margin: 1em;
}